<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.danthecodinggui.recipes">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".view.MainActivity"
            android:theme="@style/HomeTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.view_recipe.ViewRecipeActivity"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/ViewRecipeTheme" />
        <activity
            android:name=".view.add_recipe.AddRecipeActivity"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/AddRecipeTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".view.CameraActivity"
            android:parentActivityName=".view.add_recipe.AddRecipeActivity"
            android:theme="@style/HomeTheme"/>
        
        <provider
            android:authorities="com.danthecodinggui.recipes.model.RecipeProvider"
            android:multiprocess="false"
            android:exported="false"
            android:name="com.danthecodinggui.recipes.model.RecipeProvider"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.danthecodinggui.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>